In [211]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Display the total number of players
total_players = len(purchase_data_df['SN'].unique().tolist())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
#Purchasing Analysis (Total)
unique_items= len(purchase_data_df["Item ID"].unique().tolist())
avg_price = purchase_data_df["Price"].mean()
purchases = len(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()
summary_table_df = pd.DataFrame({'No unique items': [unique_items], 
                                  'Avg purchases': [avg_price],
                                'No of Purchases': [purchases],
                                'Total Revenue' : [total_revenue]})
summary_table_df = summary_table_df.set_index('No unique items')
summary_table_df

                 Avg purchases  No of Purchases  Total Revenue
No unique items
183                   3.050987              780        2379.77

In [93]:
#Gender Demographics
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
    
count_male = len(male_df["SN"].unique().tolist())
count_female = len(female_df["SN"].unique().tolist())
count_other = len(other_df["SN"].unique().tolist())

gender_summary_df = pd.DataFrame({'': ['Male Players', 'Female Players','Other / Non-Disclosed Players'], 
                                  'Percentage of Players':[count_male/total_players, count_female/total_players, count_other/total_players],
                                       'Total': [count_male, count_female, count_other]
                                })
gender_summary_df = gender_summary_df.set_index('')
gender_summary_df

                               Percentage of Players  Total

Male Players                                0.840278    484
Female Players                              0.140625     81
Other / Non-Disclosed Players               0.019097     11

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
#Purchasing Analysis (Gender)
#Compute the variables
total_purchase_gender = purchase_data_df.groupby("Gender")["Price"].sum()
avg_price_gender = purchase_data_df.groupby("Gender")["Price"].mean()
purchase_count_gender = purchase_data_df.groupby("Gender")["Price"].count()
avg_total_purchase_gender = total_purchase_gender / purchase_count_gender

#Build the summary dataframe
purchase_gender_df = pd.concat([purchase_count_gender, avg_price_gender, 
                                total_purchase_gender, avg_total_purchase_gender],
                             axis=1)

purchase_gender_df = purchase_gender_df.rename(columns = {"Price":"Purchase Count", "Price" :"Average Purchase Price", 
                                                         "Price": "Total Purchase Value", 
                                                        "Price" :"Avg Total Purchase per Person"})
purchase_gender_df

,Avg Total Purchase per Person,Avg Total Purchase per Person,Avg Total Purchase per Person,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [112]:
#Determine the min and max age
print (purchase_data_df['Age'].min())
print (purchase_data_df['Age'].max())

#Create bins
bins = (0,9,14,19,24,29,34,39,45)

group_labels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Slice the data and put it into the purchase data table
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels = group_labels)

#Group by Age and count the total of unique customers in the age group
age_group = purchase_data_df.groupby("Age Group")
count_age = age_group['SN'].nunique()

#Find the percentage this represents
percentage_age = age_group['SN'].nunique()/ total_players

#Summarize in a table
age_summary = pd.concat([count_age, percentage_age], axis = 1)
age_sumnmary = age_summary.rename(columns = {"SN":"Total Count", "SN":"Percentage of Players"})
age_summary

7
45

            SN        SN
Age Group
<10         17  0.029514
10-14       22  0.038194
15-19      107  0.185764
20-24      258  0.447917
25-29       77  0.133681
30-34       52  0.090278
35-39       31  0.053819
40+         12  0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
purchase_count_age = purchase_data_df.groupby("Age Group")["Age"].count()
avg_price_age = purchase_data_df.groupby("Age Group")["Price"].mean()
age_total_purchase = purchase_data_df.groupby("Age Group")["Price"].sum()
avg_total_purchase_age = age_total_purchase / purchase_count_age

#Build the summary dataframe
purchase_age_df = pd.concat([purchase_count_age, avg_price_age, age_total_purchase, 
                               avg_total_purchase_age],
                             axis=1)

purchase_age_df = purchase_age_df.rename(columns = {"Price":"Purchase Count", "Price" :"Average Purchase Price", 
                                                         "Price": "Total Purchase Value", 
                                                        "Price" :"Avg Total Purchase per Person"})
purchase_age_df

,Age,Avg Total Purchase per Person,Avg Total Purchase per Person,0
Age Group,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [242]:
#Create dataframe of totals by player
unique_purchasers = purchase_data_df.groupby(["SN", "Price"])["Price"].valuecounts()
unique_purchasers
#find the top spenders
unique_purchasers.sort_values("Price, ascending=False")

AttributeError: 'SeriesGroupBy' object has no attribute 'valuecounts'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [237]:
#Group the dataframe by Item ID and Item Name
item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

items_group = item_df.groupby(["Item ID", "Item Name"])

#Build a dateframe 
pop_items_purchase_count = item_df.groupby(["Item ID","Item Name"])["Item ID"].value_counts() 
print(pop_items_purchase_count)
pop_items_purchase_value = item_df.groupby(["Item ID","Item Name"])["Price"].sum()
print(pop_items_purchase_value)
popular = pd.concat([pop_items_purchase_count, pop_items_purchase_value],axis=1)

popular.head()

Item ID  Item Name                                     Item ID
0        Splinter                                      0           4
1        Crucifer                                      1           3
2        Verdict                                       2           6
3        Phantomlight                                  3           6
4        Bloodlord's Fetish                            4           5
5        Putrid Fan                                    5           4
6        Rusty Skull                                   6           2
7        Thorn, Satchel of Dark Souls                  7           7
8        Purgatory, Gem of Regret                      8           3
9        Thorn, Conqueror of the Corrupted             9           4
10       Sleepwalker                                   10          4
11       Brimstone                                     11          5
12       Dawne                                         12          6
13       Serenity                                      13          4
14       Possessed Core                                14          2
15       Soul Infused Crystal                          15          5
16       Restored Bauble                               16          4
17       Lazarus, Terror of the Earth                  17          4
18       Torchlight, Bond of Storms                    18          2
19       Pursuit, Cudgel of Necromancy                 19          8
20       Netherbane                                    20          5
21       Souleater                                     21          5
22       Amnesia                                       22          6
23       Crucifer                                      23          1
24       Warped Fetish                                 24          5
25       Hero Cane                                     25          6
26       Unholy Wand                                   26          2
27       Riddle, Tribute of Ended Dreams               27          1
28       Flux, Destroyer of Due Diligence              28          2
29       Chaos, Ender of the End                       29          5
                                                                  ..
154      Feral Katana                                  154         4
155      War-Forged Gold Deflector                     155         5
156      Soul-Forged Steel Shortsword                  156         5
157      Spada, Etcher of Hatred                       157         4
158      Darkheart, Butcher of the Champion            158         2
159      Oathbreaker, Spellblade of Trials             159         7
160      Azurewrath                                    160         6
161      Devine                                        161         5
162      Abyssal Shard                                 162         5
163      Thunderfury Scimitar                          163         5
164      Exiled Doomblade                              164         7
165      Bone Crushing Silver Skewer                   165         4
166      Thirsty Iron Reaver                           166         3
167      Malice, Legacy of the Queen                   167         4
168      Sun Strike, Jaws of Twisted Visions           168         2
169      Interrogator, Blood Blade of the Queen        169         4
170      Shadowsteel                                   170         4
171      Scalpel                                       171         3
172      Blade of the Grave                            172         4
173      Stormfury Longsword                           173         2
174      Primitive Blade                               174         4
175      Woeful Adamantite Claymore                    175         3
176      Relentless Iron Skewer                        176         2
177      Winterthorn, Defender of Shifting Worlds      177         2
178      Oathbreaker, Last Hope of the Breaking Storm  178        12
179      Wolf, Promise of the Moonwalker               179         6
180      Stormcaller                                   180         1
181      Reaper's Toll                                 181         5
182      Toothpick                                     182         3
183      Dragon's Greatsword                           183         3
Name: Item ID, Length: 183, dtype: int64
Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                         9.78
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
5        Putrid Fan                                      16.32
6        Rusty Skull                                      7.40
7        Thorn, Satchel of Dark Souls                     9.31
8        Purgatory, Gem of Regret                        11.79
9        Thorn, Conqueror of the Corrupted               10.92
10       Sleepwalker                                      7.16
11       Brimstone                                       18.25
12       Dawne                                            6.12
13       Serenity                                         5.64
14       Possessed Core                                   5.22
15       Soul Infused Crystal                            14.80
16       Restored Bauble                                 14.20
17       Lazarus, Terror of the Earth                     6.80
18       Torchlight, Bond of Storms                       9.30
19       Pursuit, Cudgel of Necromancy                    8.16
20       Netherbane                                      16.35
21       Souleater                                        5.50
22       Amnesia                                         13.08
23       Crucifer                                         1.99
24       Warped Fetish                                   19.05
25       Hero Cane                                       26.10
26       Unholy Wand                                      2.24
27       Riddle, Tribute of Ended Dreams                  3.30
28       Flux, Destroyer of Due Diligence                 2.12
29       Chaos, Ender of the End                          9.90
                                                         ...
154      Feral Katana                                    17.60
155      War-Forged Gold Deflector                        5.05
156      Soul-Forged Steel Shortsword                     8.85
157      Spada, Etcher of Hatred                         19.20
158      Darkheart, Butcher of the Champion               4.90
159      Oathbreaker, Spellblade of Trials               21.56
160      Azurewrath                                      26.40
161      Devine                                           8.80
162      Abyssal Shard                                   13.35
163      Thunderfury Scimitar                            17.25
164      Exiled Doomblade                                11.41
165      Bone Crushing Silver Skewer                     19.44
166      Thirsty Iron Reaver                              9.21
167      Malice, Legacy of the Queen                     14.44
168      Sun Strike, Jaws of Twisted Visions              2.96
169      Interrogator, Blood Blade of the Queen           8.72
170      Shadowsteel                                     15.88
171      Scalpel                                          5.37
172      Blade of the Grave                              12.56
173      Stormfury Longsword                              9.86
174      Primitive Blade                                 13.88
175      Woeful Adamantite Claymore                      13.44
176      Relentless Iron Skewer                           5.68
177      Winterthorn, Defender of Shifting Worlds         4.16
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
180      Stormcaller                                      3.36
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 183, dtype: float64

ValueError: operands could not be broadcast together with shapes (366,2) (3,) (366,2)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame