In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
#Calculate and display the total number of players
total_players = len(purchase_data_df['SN'].unique().tolist())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            576

In [3]:
#Purchasing Analysis (Total)
unique_items= len(purchase_data_df["Item ID"].unique().tolist())
avg_price = purchase_data_df["Price"].mean()
purchases = len(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()

#Summarize into a table
summary_table_df = pd.DataFrame({'No unique items': [unique_items], 
                                  'Avg purchases': [avg_price],
                                'No of Purchases': [purchases],
                                'Total Revenue ' : [total_revenue]})
summary_table_df

   No unique items  Avg purchases  No of Purchases  Total Revenue
0              183       3.050987              780         2379.77

In [4]:
#Gender Demographics

#Group into gender buckets
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
    
count_male = len(male_df["SN"].unique().tolist())
count_female = len(female_df["SN"].unique().tolist())
count_other = len(other_df["SN"].unique().tolist())

#Summarize into a table
gender_summary_df = pd.DataFrame({'': ['Male Players', 'Female Players','Other / Non-Disclosed Players'], 
                                  'Total': [count_male, count_female, count_other],
                                  'Percentage of Players':[count_male/total_players*100, count_female/total_players*100, count_other/total_players*100],                                    
                                })
gender_summary_df = gender_summary_df.set_index('')
gender_summary_df["Percentage of Players"] = gender_summary_df["Percentage of Players"].astype(float).map(
    "{:.2f}%".format)
gender_summary_df

                               Total Percentage of Players

Male Players                     484                84.03%
Female Players                    81                14.06%
Other / Non-Disclosed Players     11                 1.91%

In [5]:
#Purchasing Analysis (Gender)
#Compute the variables
total_purchase_gender = purchase_data_df.groupby("Gender")["Price"].sum()
avg_price_gender = purchase_data_df.groupby("Gender")["Price"].mean()
purchase_count_gender = purchase_data_df.groupby("Gender")["Price"].count()
count_people_gender = purchase_data_df.groupby("Gender")["SN"].nunique()
avg_total_purchase_gender = total_purchase_gender / count_people_gender

#Build the summary dataframe
purchase_gender_df = pd.concat([purchase_count_gender, avg_price_gender, 
                                total_purchase_gender,avg_total_purchase_gender],
                             axis=1)
purchase_gender_df.columns = ["Purchase Count", "Average Purchase Price", 
                              "Total Purchase Value", "Avg Total Purchase per Person"]
purchase_gender_df["Average Purchase Price"] = purchase_gender_df["Average Purchase Price"].astype(float).map(
    "${:.2f}".format)
purchase_gender_df["Total Purchase Value"] = purchase_gender_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
purchase_gender_df["Avg Total Purchase per Person"] = purchase_gender_df["Avg Total Purchase per Person"].astype(float).map(
    "${:.2f}".format)
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [6]:
#Purchasing Analysis by Age

#Determine the min and max age
print(purchase_data_df['Age'].min())
print (purchase_data_df['Age'].max())

#Create bins
bins = (0,9,14,19,24,29,34,39,45)

group_labels = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Slice the data and put it into the purchase data table
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels = group_labels)

#Group by Age and count the total of unique customers in the age group
age_group = purchase_data_df.groupby("Age Group")
count_age = age_group['SN'].nunique()

#Find the percentage this represents
percentage_age = age_group['SN'].nunique()/ total_players*100

#Summarize in a table
age_summary = pd.concat([count_age, percentage_age], axis = 1)
age_summary.columns = ["Total Count", "Percentage of Players"]
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].astype(float).map(
    "{:.2f}%".format)
age_summary

7
45

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [7]:
#Purchasing Analysis (Age)
#Calculate variables
purchase_count_age = purchase_data_df.groupby("Age Group")["Age"].count()
avg_price_age = purchase_data_df.groupby("Age Group")["Price"].mean()
age_total_purchase = purchase_data_df.groupby("Age Group")["Price"].sum()
count_people_age = purchase_data_df.groupby("Age Group")["SN"].nunique()
avg_total_purchase_age = age_total_purchase / count_people_age

#Build the summary dataframe
purchase_age_df = pd.concat([purchase_count_age, avg_price_age, age_total_purchase, 
                               avg_total_purchase_age],
                             axis=1)
purchase_age_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", 
                           "Avg Total Purchase per Person"]
purchase_age_df["Average Purchase Price"] = purchase_age_df["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
purchase_age_df["Total Purchase Value"] = purchase_age_df["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
purchase_age_df["Avg Total Purchase per Person"] = purchase_age_df["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
purchase_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [24]:
#Top Spenders - check why format is screwing up sort
#Create dataframe of totals by player
unique_purchasers = purchase_data_df[["SN", "Item ID","Price"]]

#Calculate the statistics
top_total_value = unique_purchasers.groupby(["SN"])["Price"].sum()
top_total_purchase = unique_purchasers.groupby(["SN"])["Item ID"].count()
top_average_purchase_value = top_total_value / top_total_purchase

#Build the final table
top_spend_table = pd.concat([top_total_purchase,top_average_purchase_value , 
                           top_total_value],axis=1)
top_spend_table.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
top_spend_table.sort_values("Total Purchase Value", ascending = False)
top_spend_table["Average Purchase Price"] = top_spend_table["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
top_spend_table["Total Purchase Value"] = top_spend_table["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
top_spend_table.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76               1                  $2.28                $2.28
Adastirin33                1                  $4.48                $4.48
Aeda94                     1                  $4.91                $4.91
Aela59                     1                  $4.32                $4.32
Aelaria33                  1                  $1.79                $1.79

In [22]:
#Most Popular Items
#Group the dataframe by Item ID and Item Name
item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

#Calculate the statistics
pop_items_purchase_count = item_df.groupby(["Item ID","Item Name"])["Item Name"].count() 
pop_items_purchase_value = item_df.groupby(["Item ID","Item Name"])["Price"].sum()
pop_items_avg_price = pop_items_purchase_value / pop_items_purchase_count

#Build the final table
popular_table = pd.concat([pop_items_purchase_count, pop_items_avg_price, 
                          pop_items_purchase_value],axis=1)
popular_table.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]



# Then Format to go to two decimal places, include a dollar sign, and use comma notation
popular_table["Average Purchase Price"] = popular_table["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
popular_table["Total Purchase Value"] = popular_table["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)

#Sort from most purchases to least
popular_table.sort_values("Purchase Count", ascending = False).head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [13]:
#Sort by most profitable item
popular_table.sort_values("Total Purchase Value", ascending = False).head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48