In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [2]:
#Display the total number of players
total_players = len(purchase_data_df['SN'].unique().tolist())
total_players_table = pd.DataFrame({"Total Players":[total_players]})
total_players_table

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Purchasing Analysis (Total)
unique_items= len(purchase_data_df["Item ID"].unique().tolist())
avg_price = purchase_data_df["Price"].mean()
purchases = len(purchase_data_df["Purchase ID"])
total_revenue = purchase_data_df["Price"].sum()
summary_table_df = pd.DataFrame({'No unique items': [unique_items], 
                                  'Avg purchases': [avg_price],
                                'No of Purchases': [purchases],
                                'Total Revenue' : [total_revenue]})

summary_table_df

   No unique items  Avg purchases  No of Purchases  Total Revenue
0              183       3.050987              780        2379.77

In [4]:
#Gender Demographics
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
    
count_male = len(male_df["SN"].unique().tolist())
count_female = len(female_df["SN"].unique().tolist())
count_other = len(other_df["SN"].unique().tolist())

print("Male Players: ", (count_male/total_players), count_male )
print("Female Players:", (count_female/total_players), count_female)
print("Other / Non-Disclosed Players: ", count_other/total_players, count_other)

Male Players:  0.8402777777777778 484
Female Players: 0.140625 81
Other / Non-Disclosed Players:  0.019097222222222224 11

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
#Purchasing Analysis (Gender)
#Compute the variables
total_purchase_gender = purchase_data_df.groupby("Gender")["Price"].sum()
avg_price_gender = purchase_data_df.groupby("Gender")["Price"].mean()
purchase_count_gender = purchase_data_df.groupby("Gender")["Price"].count()
avg_total_purchase_gender = total_purchase_gender / avg_purchase_count_gender

#Build the summary dataframe
purchase_gender_df = pd.concat([purchase_count_gender, avg_price_gender, 
                                total_purchase_gender, avg_total_purchase_gender],
                             axis=1)

purchase_gender_df = purchase_gender_df.rename(columns = {"Price":"Purchase Count", "Price" :"Average Purchase Price", 
                                                         "Price": "Total Purchase Value", 
                                                        "Price" :"Avg Total Purchase per Person"})
purchase_gender_df

,Avg Total Purchase per Person,Avg Total Purchase per Person,Avg Total Purchase per Person,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#Create bins
bins = [0, 10, 15, 20, 25, 30, 35, 40]

#Create lablels
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data_df["views"], bins, labels=group_labels).head()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame